
.form{
    background-color: var(--c-licht);
    padding: 20px 0 20px 10px;
}
.form label{
    font-size: 1.25rem;

}
.form input{
    height: 48px;
    width: 429px;
    border: none;
    margin: 10px;
    padding-left: 10px;
    font-size: 1.12rem;
}
.mail{
    background-color: var(--c-licht);
    padding: 20px 0 20px 10px;
}

.mail input{
    height: 40px;
    width: 200px;
    border: none;
    margin: 10px;
    padding-left: 10px;
    font-size: 1.12rem;
}
.mail button{
    height: 40px;
    width: 40px;
    background-color: var(--c-primary);
    color: var(--c-white);
    border: none;
    margin-left: -15px;
    font-size: 19px;
    cursor: pointer;

}
.mail button:hover{
    background-color: #189CDB;

}
